/* * {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
} */

* {
    font-family: 'Montserrat';
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
    font-family: 'Lato';
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Lato';
}

hr {
    margin: auto;
    width: 60%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

figcaption {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: 'Montserrat';
}

h3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Lato';
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 13pt;
    color: #5C4033;
}

div#container {
    margin: auto;
    width: 60%;
    height: 400;
}

div#container2 {
    margin: auto;
    width: 60%;
    height: 700px;
}

div#container3 {
    margin: auto;
    width: 60%;
    height: 400;
}